<p>I will not collect data in any way (<em>no ads</em>,
  <em>no analytics</em> and
  <em>no telemetry</em>). Azure will collect your IP address when you visit this page. I'm using third-party libraries, be
  mindful of the HTTP requests they initiate if any.
</p>
<p>
  Build
  <span class="mono-font">{{build}}</span> commit
  <app-link [href]="'https://github.com/gabrielweyer/cors/commit/' + commit">{{commit | slice:0:7}}</app-link><br>
  Source on <app-link [href]="'https://github.com/gabrielweyer/cors'">GitHub</app-link> - deployed by
  <app-link [href]="'https://github.com/features/actions'">GitHub Actions</app-link> - hosted on
  <app-link [href]="'https://azure.microsoft.com/en-gb/products/app-service/static/'">Azure Static Web Apps</app-link><br>
  Made by <app-link [href]="'https://gabrielweyer.net/'">Gabriel Weyer</app-link> with
  <svg class="heart" viewBox="0 0 32 29.6">
    <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
    c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
  </svg>
</p>
