@import '~variables.scss';

.mono-font {
  font-size: $mono-font-size-normal;
}

p {
  line-height: 1.3em;
  padding: 0 18%;

  @include lg {
    padding: 0 5px;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.heart {
  fill: red;
  position: relative;
  top: 2px;
  width: 13px;
  height: 13px;
}
