@use "sass:color";
@use './variables.scss';

html,
body {
  margin: 0;
  padding: 0 10px;
  height: 100%;
  background: variables.$background-color;
  color: variables.$font-color;
}

body {
  font-family: 'Verdana', sans-serif;
  font-size: variables.$font-size-normal;
  line-height: 1.3em;

  @include variables.lg {
    font-size: variables.$font-size-small;
  }
}

a {
  cursor: pointer;
  color: variables.$action-color;
  text-decoration: underline color.adjust(variables.$action-color, $lightness: -5%);
}

em {
  font-weight: 600;
  font-style: normal;
}

h1 {
  margin: 0;
  padding: 0.5em 0 0 0;
  line-height: variables.$font-size-x-large;
  font-size: variables.$font-size-x-large;
}

h2 {
  margin: 0;
  padding: 0 0 0.4em 0;
  line-height: variables.$font-size-large;
  font-size: variables.$font-size-large;
}

button {
  cursor: pointer;
  background-color: variables.$button-background-color;
  color: variables.$button-font-color;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid color.adjust(variables.$button-background-color, $lightness: 10%);

  &:hover {
    background-color: color.adjust(variables.$button-background-color, $lightness: 5%);
  }
}

.mono-font {
  font-family: variables.$mono-font-family;
  font-size: variables.$mono-font-size-normal;
  background-color: variables.$mono-font-background-color;
  border-radius: 3px;
  padding: 0 5px;
  color: variables.$mono-font-color;
  border: 1px solid color.adjust(variables.$mono-font-background-color, $lightness: 10%);
}
