@import './variables.scss';

html,
body {
  margin: 0;
  padding: 0 10px;
  height: 100%;
  background: $background-color;
  color: $font-color;
}

body {
  font-family: 'Verdana', sans-serif;
  font-size: $font-size-normal;
  line-height: 1.3em;

  @include lg {
    font-size: $font-size-small;
  }
}

a {
  cursor: pointer;
  color: $action-color;
  text-decoration: underline darken($action-color, 5);
}

em {
  font-weight: 600;
  font-style: normal;
}

h1 {
  margin: 0;
  padding: 0.5em 0 0 0;
  line-height: $font-size-x-large;
  font-size: $font-size-x-large;
}

h2 {
  margin: 0;
  padding: 0 0 0.4em 0;
  line-height: $font-size-large;
  font-size: $font-size-large;
}

button {
  cursor: pointer;
  background-color: $button-background-color;
  color: $button-font-color;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid lighten($button-background-color, 10%);

  &:hover {
    background-color: lighten($button-background-color, 5%);
  }
}

.mono-font {
  font-family: $mono-font-family;
  font-size: $mono-font-size-normal;
  background-color: $mono-font-background-color;
  border-radius: 3px;
  padding: 0 5px;
  color: $mono-font-color;
  border: 1px solid lighten($mono-font-background-color, 10%);
}
