$background-color: #010409;
$font-color: #e6edf3;

$button-background-color: #21262d;
$button-font-color: #c9d1d9;

$action-color: #0b92c4;

$mono-font-color: #e6edf3;
$mono-font-background-color: #343941;
$mono-font-family: 'Consolas';

$font-size-x-large: 1.5em;
$font-size-large: 1.25em;
$font-size-normal: 1em;
$font-size-small: 0.9em;
$font-size-x-small: 0.8em;

$mono-font-size-normal: 1.1em;

$screen-lg-min: 992px;

@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
      @content;
  }
}
